<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DataSource" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\elsal\source\repos\ManageYourDatabase\BaseDeDonnéeClient\Database1.mdf;Integrated Security=True;UID=DESKTOP-63E4Q61;" />
  </appSettings>
</configuration>

